:root {
  --main-bg-colour: grey;
  --main-text-colour: green;
  --main-accent-colour: black;
  --main-accent-text: white;
  --secondary-accent-colour: darkred;
  --secondary-text-colour: darkorange;
}
