/*
Stylesheet for navbar components
*/
.navbar {
  background-color: var(--main-accent-colour);
  width: 100%;
  position: fixed;
  z-index: 15;
}

.navbar a {
  float: left;
  color: var(--main-accent-text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover,
.dropdown:hover .dropdown-btn,
.dropdown-content a:hover {
  background-color: var(--main-accent-text);
  color: var(--main-accent-colour);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown-btn {
  font-size: 20px;
  border: none;
  outline: none;
  color: var(--main-accent-text);
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  float: none;
  color: var(--main-accent-text);
  background-color: var(--main-accent-colour);
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
